# Исключить все .md файлы
*.md

**/.idea/


# Исключить все папки build на любом уровне вложенности
**/build/

# Исключить все папки .gradle на любом уровне вложенности (но не папки gradle)
**/.gradle/

# Исключить все папки templates на любом уровне вложенности
**/templates/